/* ===== Couleurs générales ===== */
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

body {
  background-color: black;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Electrolize", sans-serif;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/* ===== Top bar ===== */
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: none;
}

/* ===== Navbar links spacing ===== */
.navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

/* ===== Burger ===== */
.navbar-toggler {
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler svg {
  width: 30px;
  height: 30px;
  fill: white;
}

/* ===== Search ===== */
.leftSearch input {
  border-radius: 50px;
  height: 30px;
  padding: 0 10px;
  font-family: "Electrolize", sans-serif;
}

.leftSearch button {
  height: 30px;
  padding: 0 5px;
  border: none;
  background: none;
}

.leftSearch img {
  width: 30px;
  object-fit: contain;
}

/* ===== Login links texte ===== */
.login-link {
  color: white;
  font-weight: 500;
  font-family: "Electrolize", sans-serif;
}

.login-link:hover {
  text-decoration: underline;
}

/* ===== Responsive ===== */
@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .leftSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .leftSearch form {
    flex-direction: row;
    align-items: center;
  }

  .leftSearch input {
    width: 70%;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .d-lg-none .login-link {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .blocAcceuil {
    display: none;
  }
}
// =====================
//      ACCEUIL
// =====================

.card {
  background-color: black;
}

