//======================
//   *  VARIABLES  *

$br: #3f4c32;
$ln: #fed865;

//======================

//     *  FUNCTIONS  *
@function hover($type) {
  @if $type == submit {
    @return 1.1;
  }
  @return 1;
}
//======================

//     *  MIXIN  *

@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  gap: 6vw;
}
@mixin cartes {
  display: flex;
  flex-direction: column;
  width: 200px;
  img {
    width: 15vw;
  }
  p {
    text-align: left;
  }
}
@mixin formulaire {
  display: flex;
  flex-direction: column;
  gap: 18px;
  input {
    width: 30vw;
    padding: 13px;
    background-color: #fed865d9;
    border-radius: 20px;
    font-size: 13px;
    border: none;
  }
  button {
    width: 32vw;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: $br;
    border: none;
    &:hover{
        transform: scale(hover(submit));
    }
  }
}
@mixin media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    width: 13vw;
  }
  .logoF {
    width: 3vw;
  }
}
//======================

body {
  margin: 0;
  background-color: $br;
  color: white;
}

header {
  background-color: $br;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

/* LOGO */
.logoH {
  height: 28px;
}

/* MENU DROIT */
.droite {
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      .jaune {
        color: $ln;
      }
      .zero {
        color: #3f4c32;
        background-color: #3f4c32;
        border: none;
      }
    }

    li img {
      height: 18px;
      width: auto;
    }
  }
}

.acceuil {
  height: 50vh;
  background-image:
    linear-gradient(rgba($br, 0.7), rgba($br, 0.4)),
    url("./image/HeroHeader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 60px;

  .logoA {
    width: 80vw;
  }
  .acceuilBloc {
    width: 50vw;
    transform: translateX(-15vw);
    p {
      text-align: justify;
    }
    .learn {
      background-color: white;
      border-radius: 20px;
      border: solid 1px white;
      padding: 8px;
      width: 150px;
      font-weight: bolder;
      font-size: 13px;
    }
    .go {
      background-color: $br;
      border-radius: 20px;
      border: solid 1.5px white;
      padding: 9px;
      width: 150px;
      color: white;
      font-weight: bolder;
      font-size: 13px;
    }
  }
}
article {
  .titreP {
    display: flex;
    flex-direction: column;
    align-items: center;
    .titre {
      width: 200px;
      margin-top: 50px;
    }
    .titreC {
      width: 250px;
      margin-top: 50px;
    }
    hr {
      background-color: $ln;
      margin-top: 30px;
    }
  }

  .underline {
    width: 60%;
    height: 2px;
    border: none;
    background-color: white;
    margin-top: 10px;
  }
  .rowP {
    @include row;

    .cart {
      @include cartes;
    }
  }
}
.Pageform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8vw;
  margin-top: 10vh;
  img {
    width: 40vw;
    border-radius: 30px;
  }
  .form {
    @include formulaire;
  }
}
.bloctexte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .texte1 {
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    width: 70vw;
  }
  .barre {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fed865b8;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 35vw;
      padding: 2vw;
    }
  }
}
footer {
  background-color: $ln;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vw;

  .gaucheF {
    margin-left: 2vw;
    transform: translateX(-8vw);
    img {
      width: 400px;
    }
  }
  .milieuF {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(-5vw);
    .numrue {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      img {
        width: 40px;
        height: max-content;
      }
      p {
        color: $br;
        font-weight: bolder;
      }
    }
  }
  .droiteF {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .media {
      @include media;
      gap: 20px;
    }
  }
}
